default_language_version:
  python: python3.11

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
    exclude: (.txt$|.ipynb$)
  - id: trailing-whitespace
    exclude: (.txt$|README.md$)
  - id: check-yaml
  - id: check-json
  - id: check-toml
  - id: check-xml
  - id: check-ast
  - id: check-added-large-files
    args: [--enforce-all]
  - id: name-tests-test
  - id: detect-private-key
  - id: check-case-conflict
  - id: check-symlinks
  - id: check-docstring-first
    exclude: msi_setup.py
  - id: mixed-line-ending
  - id: destroyed-symlinks
  - id: debug-statements
  - id: pretty-format-json
    exclude: (^config.json$|\.ipynb$)

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.11
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.16.0
  hooks:
  - id: pretty-format-ini
    args: [--autofix]
  - id: pretty-format-yaml
    args: [--autofix]
    exclude: (^poetry.lock$)
  - id: pretty-format-toml
    args: [--autofix]
    exclude: (^poetry.lock$)

- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy

- repo: https://github.com/python-poetry/poetry
  rev: 2.2.1
  hooks:
  - id: poetry-check

- repo: https://github.com/rstcheck/rstcheck
  rev: v6.2.5
  hooks:
  - id: rstcheck
    additional_dependencies:
    - rstcheck[toml,sphinx]
